@charset "UTF-8";

/* project */

/* main-top */
.main-top{width: 100%; height: 100%; background-color: #fff; padding-top: 90px; margin-bottom: 20px;}
.main-img-container{padding: 20px 24px 0 24px; }
.main-img-box{display: flex; width: 100%;}
.main-img-container .main-img-box li{background-color: red; width: 100%; height: 100%; aspect-ratio: 1; border-radius: 15px; margin-right: 1px; filter: grayscale(100%);}

.main-img-container .main-img-box.row1{grid-row: 1/2; margin-bottom: 50px;}
.main-img-container .main-img-box.row2{grid-row: 2/3;}

.main-img-container .main-img-box.row1 li:nth-child(1){width: 40%; background: url(../images/main-img1.jpg)50% no-repeat; background-size: cover;}
.main-img-container .main-img-box.row1 li:nth-child(2){width: 40%; background: url(../images/main-img3.jpg)50% no-repeat; background-size: cover;}

.main-img-container .main-img-box.row2 li:nth-child(1){width: 20%; display: flex; align-self: flex-end; background: url(../images/main-img6.jpg) 50% no-repeat; background-size: cover}
.main-img-container .main-img-box.row2 li:nth-child(2){width: 20%; background: url(../images/main-img7.jpg) 50% no-repeat; background-size: cover}
.main-img-container .main-img-box.row2 li:nth-child(3){width: 60%; background: url(../images/main-img8.jpg) 50% no-repeat; background-size: cover}

.main-img-container .main-img-box.row1 li:nth-child(3){display: none;}
.main-img-container .main-img-box.row1 li:nth-child(4){display: none;}
.main-img-container .main-img-box.row1 li:nth-child(5){display: none;}

.main-txt-container{width: 100%; margin-top: 20%; display: grid; grid-template-rows: .3fr 1fr;}
.main-txt-container .main-txt-wrap{grid-template-rows: 2/3; display: flex;} 
.main-txt-container h1{font-size: var(--title-size-smm); font-family: var(--primary-font-en-cursive); margin-left: 10px;}
.main-txt-container .main-txt-wrap h1{margin-left: 5px;}
.main-txt-container .main-txt-box{background-color: #000; aspect-ratio: 1; width: 40%; color: #fff; font-size: var(--desc-size-sx); font-weight: 200; line-height: 1.8; padding: 20px; display: flex; flex-flow: column; justify-content: space-between; position: relative;}
.main-txt-container .main-txt-box::after{content: ""; width: 150%; height: 1px; background-color: #000; position: absolute; right: -150%; top: 50%;}
.main-txt-container .main-txt-box h5{font-weight: 400;}
.main-txt-container .main-txt-wrap  h1:last-child{padding-top: 8%;}

.main-bg{aspect-ratio: 1; position: absolute; border-radius: 100%; box-shadow: 3px 3px 100px 100px #a1201c8d; top: 50%; left: 50%;}

/* product-line */
.product-line{background-color: #000; color: #fff; padding: 50px 24px 80px;}
.product-line h2{font-size: var(--title-size-sx); line-height: 1.5; font-weight: 200;}
.product-line img{width: 20%;}
.product{width: 100%; height: 100%; aspect-ratio: 1; background-color: #ddd; border-radius: 10px; margin-bottom: 10px; padding: 25px;}
.product h2{font-weight: bold; margin-bottom: 5px;}
.product h5{font-weight: normal; font-size: var(--desc-size-sm);}
.product p{display: none;}
.product a{display: none;}

.product.amps{margin-top: 80px; background: url(../images/product-amps2.png) 50%; background-size: cover;}
.product.speakers{background: url(../images/product-speakers2.jpg) 50%; background-size: cover;}
.product.headphones{background: url(../images/product-headphones2.png) 50%; background-size: cover;}

.product-img-box{display: none;}

/* spotlight */
.spotlight-title-box{padding: 50px 24px; text-align: center; font-size: var(--title-size-ssx); position: relative;}
.spotlight-title-box p{font-size: var(--desc-size-sxx); margin-top: 10px;}
.spotlight .swipe{font-size: var(--desc-size-sxx); color: #ddd; width: 15%; display: flex; flex-direction: column; position: absolute; right: 0; margin-right: 24px; bottom: 0;}
.spotlight .swipe img{width: 100%; }

.spotlight-wrapper{margin:0; background-color: #ddd;}


/* 가로 스크롤 */
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    color: #fff; 
}

.scroll-item {
    width: 80%;
    height: 60vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    margin-right: 2px;
    text-align: center;
    position: relative;
    }

.scroll-item .spotlight-box{position: absolute; width: 100%;}
.scroll-item .spotlight-box h6{font-size: var(--desc-size-sxx); background-color: #000; color: #fff; padding: 2px 5px; font-weight: 300; width: fit-content; margin: 0 auto;}

.spotlight-title{width: fit-content; position: relative; margin: 0 auto;}
.spotlight-title h5{margin: 0 auto;}
.spotlight-title img{position: absolute; width: 100%; left: 50%; transform: translateX(-50%); top: 45%; height: 100%; margin-top: 5px;}

.scroll-item .spotlight-box p{font-size: var(--desc-size-sm); font-weight: 200;}
.scroll-item a{position: absolute; bottom: 20%;}
.scroll-item .spotlight-title{font-size: var(--title-size-sx);margin: 30px auto 20px;}

.scroll-item.spotlight1{background: url(../images/spotlight-bg1.png) 50%; background-size: cover;}
.scroll-item.spotlight2{background: url(../images/spotlight-bg2.png) 50%; background-size: cover; filter: grayscale(50%);}
.scroll-item.spotlight3{background: url(../images/spotlight-bg3.png) 50%; background-size: cover; filter: grayscale(30%);}
.scroll-item.spotlight4{background: url(../images/spotlight-bg4.png) 50%; background-size: cover; filter: grayscale(30%);}
.scroll-item.spotlight5{background: url(../images/spotlight-bg5.png) 50%; background-size: cover; }
.scroll-item.spotlight6{background: url(../images/spotlight-bg6.png) 70%; background-size: cover; }

/* ambassador */
.ambassador{padding: 50px 24px; text-align: center; font-size: var(--title-size-ssx); position: relative;}
.ambassador a{font-size: var(--desc-size-sxx); margin-top: 10px;}
.ambassador-wrap{width: 100%; aspect-ratio: 16 / 9;}
.ambassador-wrap iframe{width: 100%; height: 100%; margin: 40px auto;}

/* go-to-ig */




.go-to-ig.line1 li:nth-child(1){background-color: red;}
.go-to-ig.line1 li:nth-child(2){background-color: yellow;}
.go-to-ig.line1 li:nth-child(3){background-color: blue;}
.go-to-ig.line1 li:nth-child(4){background-color: yellowgreen;}
.go-to-ig.line1 li:nth-child(5){background-color: lightcoral;}
.go-to-ig.line1 li:nth-child(6){background-color: darkgray;}
.go-to-ig.line2 li:nth-child(1){background-color: darkgray;}
.go-to-ig.line2 li:nth-child(2){background-color: darkgray;}
.go-to-ig.line2 li:nth-child(3){background-color: darkgray;}
.go-to-ig.line2 li:nth-child(4){background-color: darkgray;}
.go-to-ig.line2 li:nth-child(5){background-color: darkgray;}
.go-to-ig.line2 li:nth-child(6){background-color: darkgray;}

 @media screen and (min-width: 960px) {}
 @media screen and (min-width: 1200px) {}
 

